<div class="container">
  <div class="row mt-5" *ngFor="let workingHour of workingHours;let index=index">
    <div class="col-md-5">
      <h1>{{workingHour.day}}</h1>
    </div>

    <div *ngFor="let schedule of workingHour.schedule; let i=index" class="col-md-5 row">


      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" [(ngModel)]="schedule.startTime"
          name="schedule.startTime{{index}}" ngDefaultControl>
          <input matInput type="time">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="outline" [(ngModel)]="schedule.endTime"
          name="schedule.endTime{{index}}" ngDefaultControl>
          <input matInput type="time">
        </mat-form-field>
      </div>

      <div *ngIf="i">
        <button (click)="removeQuantity(index,i)" class="btn btn-danger">Remove</button>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeQuantity(index,i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>


    </div>

    <button mat-raised-button class="col-md-2" color="primary" (click)="addQuantity(index)">add</button>
    




  </div>
  <button mat-raised-button class="mt-5" color="primary" style="width: 100%;" (click)="onSubmit()">Submit</button>


</div>